.my_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 24px;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: darkseagreen;
}

img{
    height: 200px;
}

nav{
    background-color: orangered;
    border-bottom: 1px solid black;
    padding: 16px;
}

nav a{
    color: aliceblue;
    text-decoration: none;
}

div a{
    color: darkgreen;
    text-decoration: none;
}

h1{
    color: darkgreen;
}
tr:nth-child(even) {
     background-color: lightgrey;
}